<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入JDBC的配置文件-->
    <properties resource="db.properties">

    </properties>
    <settings>
        <!--日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--<setting name="logImpl" value="LOG4J"/>-->
        <!--下划线转小驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!--配置懒加载-->
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <typeAliases>
        <!--设置某个类的简写别名,别名日志显示为乱码原因不明-->
        <!--针对某个包下的所有类设置别名-->
        <package name="com.entity"/>
    </typeAliases>
    <plugins>

<!--        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="offsetAsPageNum" value="true"/>
            &lt;!&ndash;配置数据库方言 4.0版本以后不用写&ndash;&gt;
            &lt;!&ndash;<property name="helperDialect" value="mysql"/>&ndash;&gt;
            &lt;!&ndash;是否做count查询&ndash;&gt;
            <property name="rowBoundsWithCount" value="true"/>
            &lt;!&ndash;合理化分页&ndash;&gt;
            <property name="reasonable" value="true"/>
        </plugin>-->
        <!--<plugin interceptor="com.interceptor.MyPageInterceptor">
            <property name="start" value="1"/>
            <property name="end" value="3"/>
        </plugin>-->
        <plugin interceptor="com.interceptor.MyPageInterceptor">
            <property name="start" value="0"/>
            <property name="end" value="3"/>
        </plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.userName}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--mapper接口的开发方式-->
        <package name="com.mapper"/>
    </mappers>

</configuration>
